<!-- <p>child2 works!</p> -->
<div class="container">
    <!-- <h4 class="h4">City Id :{{citiDetails.id}} </h4>
    <hr>
    <h5 class="h5">City Name :{{citiDetails.name}} </h5>
    <hr>
    <h6 class="h6">City Population :{{citiDetails.population}} </h6> -->
    <table class="table ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{citiDetails.id}}</td>
                <td>{{citiDetails.name}}</td>
                <td>{{citiDetails.population}}</td>
            </tr>
        </tbody>
    </table>
</div>