<div class="container">
  <!-- <button class="btn btn-md btn-primary mx-2" (click)="increment(coutNumber.value)">+</button> -->
  <!-- <span class="mx-4 fs-5">{{coutNumber}}</span> -->
  <!-- <button class="btn btn-md   btn-danger" (click)="decrement(coutNumber)">-</button> -->

  <h1 class="h1 text-center">Cities Details</h1>
  <table class="table table-dark table-hover">
    <thead class="table table-success">
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Population</td>
        <td>Operation</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let citieData of citiesData">
        <td>{{ citieData.id }}</td>
        <td>{{ citieData.name }}</td>
        <td>{{ citieData.population }}</td>
        <td>
          <button class="btn btn-md btn-primary" (click)="visitCities(citieData.id)"
            [routerLink]="'child2'">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>